.ButtonContainer{
    width: 100%;
    border: 1px solid #898484;
    border-radius: 5px;
    color: #191313;
    background: rgb(12,7,108);
background: linear-gradient(90deg, rgba(12,7,108,1) 4%, rgba(24,80,76,1) 38%, rgba(54,255,0,1) 100%);
}